<footer class="bg-black text-center  static   text-decoration-none text-lg-start">
    <!-- Grid container -->
    <!-- <div class="container   " > -->
      <!--Grid row-->
      <div class=" d-flex justify-content-around p-4 text-light">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-light">
            <h5 class="ms-2">Exclusive</h5>
  
          <ul class="list-unstyled me-5 ">
            <li>
              <a href="#!" class="text-light">Subscribe</a>
            </li>
            <li>
              Get 10% off your first order
            </li>
            <li>
              <div class="mb-3">
                <input
                    type="text"
                    class="form-control bg-black text-white send-email"
                    name=""
                    id=""
                    aria-describedby="helpId"
                    placeholder="Enter your email"
                />
              </div>
              
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
           <h5 class="m-2">Support</h5>
  
          <ul class="list-unstyled text-light" >
            <li>
              <a href="#!" class="text-light">Sohag , Egypt</a>
            </li>
            <li>
              <a href="#!" class="text-light">Exclusivegmail.com</a>
            </li>
            <li>
              <a href="tel:+2012315548"  class="text-light">+2012315548</a>
            </li>

          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
           <h5 class="m-2 ">Account</h5>
  
          <ul class="list-unstyled ">
            <li>
              <a href="#!" class="text-light">My Account</a>
            </li>
            <li>
              <a href="#!" class="text-light">Login / Register</a>
            </li>
            <li>
              <a href="#!" class="text-light">Cart</a>
            </li>
            <li>
              <a href="#!" class="text-light">Whishlist</a>
            </li>
            <li>
              <a href="#!" class="text-light">Shop</a>
            </li>
          </ul>
        </div>


        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
           <h5 class="m-2  ">Quick Link</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-light">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-light">Terms Of Use</a>
            </li>
            <li>
              <a href="#!" class="text-light">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-light">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
           <h5 class="m-2  ">Download App</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-light">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-light">Terms Of Use</a>
            </li>
            <li>
              <a href="#!" class="text-light">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-light">Contact</a>
            </li>
          </ul>
        </div>
      </div>
  
    <div class="text-center p-3 border-top" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright: Exclusive
    </div>
   
</footer>